/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber';
@import 'variables';

@import '../node_modules/font-awesome/scss/font-awesome';


body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.container {

    margin: 20px;
    display: flex;
}

.flex-spacer {
    flex: 1 1 auto;
}

.backgound-pale{
    color: lightgreen;
}
.highlight{
    background-color: lightgreen;
    border: 1px solid lightblue;
    z-index: 1;
    transform: scale(1.01);
}